.App {
  text-align: center;
}

.App-header {
  background-color: gray;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 3rem;
  font-size: 1rem;
  color: black;
}